.banner-slider {
	width: 91%;
	margin: 30px auto;

	.banner-item {
		position: relative;

		img {
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}

	.slick-dots li button:before {
		color: rgb(104, 61, 61);
		font-size: 10px;
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
	}
}

@media (max-width: 600px) {
	.banner-slider {
		width: 86%;
		margin: 30px auto;
	}
}
