* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.profile-container {
    display: flex;
    background-color: #B9D514;
    font-family: Arial, sans-serif;
    color: #3a3a3a;
    padding: 146px 23% 15%;

    .profile-sidebar {
        padding: 20px 0px;
        padding-left: 0px !important;
        padding-top: 0px !important;

        button {
            background-color: #ffffff;
            // margin: 0px 0px 20px;
            cursor: pointer;
            font-size: 0.8vw;
            border-radius: 50px;
            color: #3a3a3a;
            width: 70%;
            margin: 20px auto;
        }
        .custom-account-circle{
            font-size: 56px;
            margin-left: -26px;
        }
    }

    .profile-content {
        padding: 20px;

        .profile-sections-container {
            display: flex;
            justify-content: center;
            flex-flow: row;

            .profile-section,
            .password-section {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                margin-left: 20px;

                .edit-button {
                    background-color: white;
                    border-radius: 50px;
                    padding: 2px;
                    border: 2px solid #B9D514;
                    width: 22%;
                    font-size: 0.6vw;
                    color: #000;
                }

                h2 {
                    margin-top: 0;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin: 10px 0;
                        padding: 10px;
                        border: 1px solid #B9D514;
                        border-radius: 50px;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        margin-top: 20px;

                    }

                    .save-btn {
                        background-color: #B9D514;
                        border-radius: 50px;
                        padding: 5px;
                        border: 1px solid #B9D514;
                        color: #fff;
                        box-shadow: none;
                    }


                }

                .profile-image {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }

                .upload-button {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    background-color: #B9D514;
                    border-radius: 50%;
                    padding: 5px;
                    border: 1px solid #ccc;
                }
            }

            .orders-section {
                padding-top: 0px !important;

                .edit-button {
                    background-color: white;
                    border-radius: 50px;
                    padding: 2px;
                    border: 2px solid #B9D514;
                    font-size: 0.6vw;
                    color: #000;
                }

                .my-address {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 600;
                }

                .shipping-button {
                    background-color: #B9D514;
                    ;
                    border-radius: 50px;
                    padding: 2px;
                    border: 2px solid #B9D514;
                    font-size: 1vw;
                    color: #000;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 34px;

                    .first-name-input {
                        margin: 10px 1px;
                        padding: 10px;
                        border: 1px solid #B9D514;
                        border-radius: 6px;
                        width: 47%;
                    }

                    .last-name-input {
                        margin: 10px 1px 10px 22px;
                        padding: 10px;
                        border: 1px solid #B9D514;
                        border-radius: 6px;
                        width: 47%;
                    }

                    input {
                        margin: 10px 6px 10px 3px;
                        padding: 10px;
                        border: 1px solid #B9D514;
                        border-radius: 5px;
                        width: 97%;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        margin: 10px 6px 10px 3px;
                        padding: 10px;
                        border: 1px solid #B9D514;
                        border-radius: 5px;
                        height: 100px;
                        width: 97%;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        margin-top: 20px;

                    }

                    .save-btn {
                        background-color: #B9D514;
                        border-radius: 5px;
                        padding: 5px;
                        border: 1px solid #B9D514;
                        color: #fff;
                        box-shadow: none;
                        width: 97%;
                    }
                }


            }
        }

    }
}

// media-query
@media screen and (max-width: 1440px){
    .profile-container{
        padding: 146px 15% 15%;
    }
}
@media screen and (max-width: 1270px){
    .profile-container {
        padding: 146px 10% 15%;

        .profile-sidebar button {
            font-size: 1.1vw;
            width: 75%;
        }
    }
    
}
@media screen and (max-width: 1024px){
    .profile-container {
        padding: 146px 5% 15%;
    }

    .profile-sidebar button {
        font-size: 1.2vw;
    }
    .profile-container .profile-content .profile-sections-container .profile-section .edit-button, .profile-container .profile-content .profile-sections-container .password-section .edit-button {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 768px){
    .profile-container {
        padding: 146px 5% 10%;
    }
    .profile-container .profile-content .profile-sections-container {
        display: grid;
        justify-content: stretch;
        flex-flow: row;
    }
    .profile-container .profile-sidebar {
        display: flex;
    }
    .profile-container .profile-sidebar button {
        background-color: #ffffff;
        cursor: pointer;
        font-size: 1.5vw;
        margin: 20px 8px;
    }    
    .profile-container .profile-sidebar .custom-account-circle{
        font-size: 30px ;
        margin-left: -26px ;
    }
}
@media screen and (max-width: 620px){
    .profile-container .profile-sidebar .custom-account-circle {
        font-size: 30px;
        margin-left: -10px;
    }
}