.banner-container {
	margin: 80px;

	.banner {
		width: 100%;
		height: auto;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 600px) {
	.banner-container {
		margin: 10px;
	}
}
